

NET "SF_D[3]" LOC = M15;
NET "SF_D[2]" LOC = P17;
NET "SF_D[1]" LOC = R16;
NET "SF_D[0]" LOC = R15;


NET "SF_D[3]" IOSTANDARD = LVCMOS33;
NET "SF_D[2]" IOSTANDARD = LVCMOS33;
NET "SF_D[1]" IOSTANDARD = LVCMOS33;
NET "SF_D[0]" IOSTANDARD = LVCMOS33;
NET "clk" IOSTANDARD = LVCMOS33;
NET "LCD_E" IOSTANDARD = LVCMOS33;
NET "LCD_RS" IOSTANDARD = LVCMOS33;
NET "LCD_RW" IOSTANDARD = LVCMOS33;
NET "SF_CE0" IOSTANDARD = LVCMOS33;
NET "PushWhite" IOSTANDARD = LVCMOS33;


NET "PushWhite" LOC = H13;
NET "PushBlack" LOC = D18;


NET "PushBlack" IOSTANDARD = LVCMOS33;


NET "reset" LOC = V4;


NET "reset" IOSTANDARD = LVCMOS33;
NET "Start" IOSTANDARD = LVCMOS33;


NET "Start" LOC = K17;
NET "clk" LOC = C9;


NET "PushWhite" PULLDOWN;
NET "PushBlack" PULLDOWN;
NET "reset" PULLDOWN;
NET "Start" PULLDOWN;
NET "LCD_RW" DRIVE = 4;
NET "LCD_RS" DRIVE = 4;
NET "LCD_E" DRIVE = 4;


NET "LCD_E" LOC = M18;
NET "LCD_RS" LOC = L18;
NET "LCD_RW" LOC = L17;


NET "SF_D[0]" DRIVE = 4;
NET "SF_D[1]" DRIVE = 4;
NET "SF_D[2]" DRIVE = 4;
NET "SF_D[3]" DRIVE = 4;
#Created by Constraints Editor (xc3s500e-fg320-4) - 2023/11/17
NET "clk" TNM_NET = clk;
TIMESPEC TS_clk = PERIOD "clk" 20 ns HIGH 50%;
